@import "../../styles.scss";
.box {
    aspect-ratio: 16/5;
    width: clamp(200px, 100%, 923px);
    border: 2px solid $border-color;
    font-size: 1.3rem;
    font-family: sans-serif;
    margin: 0 auto;
    h3 {
        margin: 0;
        text-align: center;
        padding-top: 15px;
        box-sizing: border-box;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        justify-content: space-evenly;
        label {
            margin-right : 10px;
        }
        &__input {
            width: 21,8rem;
            display: flex;
            align-items: center;
        }
        .grid {
            display: grid;
            grid-template-areas: "a b";
            gap: 25px 110px;
            justify-items: start;
            input[type='text']{
                @include input-text;
                &:focus-visible {
                    outline: inherit;
                }
            }
            input[type='range']{
                -webkit-appearance: none;
                appearance: none;
                background: $base-color;
                height: 5px;
                cursor: pointer;
                border-radius: 5px; 
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: 1px solid $base-color;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background: $base-color;
                    cursor: pointer;
                }     
            }
        }
        .form__submit {
            text-align: center;
            width: -moz-fit-content;
            width: fit-content;
            display: flex;
            column-gap: 11px;
            margin-right: 8px;
            button[type='submit'] , button[type='reset']{
                @include btn;
                transition-duration: 500ms;
            }
            button[type='submit']:disabled{
                cursor: not-allowed;
                background-color: $disabled-button;
            }
        }
    }
}